* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 28px;
  font-family: "Roboto";
  background-color: #A6C9FF;
}
body header {
  width: 100%;
  max-width: 1170px;
}
body main {
  width: 100%;
  max-width: 1170px;
  flex: 1 1 auto;
}
body footer {
  width: 100%;
  max-width: 1170px;
  flex: 0 0 auto;
}

.link {
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
  color: #fff;
}
.link:hover {
  font-weight: 700;
  text-decoration: underline;
}

.pop-up-button {
  display: block;
  width: 262px;
  height: 58px;
  border-radius: 25px;
  color: #fff;
  font-size: 24px;
  background: #FF4B4B;
  padding: 17px;
  text-align: center;
}
.pop-up-button:hover {
  box-shadow: 2px 5px 10px #497957;
}

h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #fff;
  text-align: center;
}

.pop-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 3;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
  margin: auto;
  padding: 0;
}
.pop-up-container:target {
  opacity: 1;
  pointer-events: auto;
}
.pop-up-container .pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
  height: 400px;
  background: #A6C9FF;
}
.pop-up-container .pop-up span {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
  color: #fff;
}
.pop-up-container .pop-up .close-pop-up {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 43px;
  height: 39px;
  border-radius: 5px;
  color: #fff;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  background: #497957;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 148px;
  background-color: #B47FF6;
  padding: 0 55px 0 155px;
  margin-bottom: 40px;
  position: relative;
}
.nav .nav-link {
  display: flex;
  gap: 60px;
}
.nav .nav-link .link {
  font-weight: 700;
  color: transparent;
  position: relative;
}
.nav .nav-link .link:after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  font-weight: 500;
  text-align: center;
}
.nav .nav-link .link:hover::after {
  font-weight: 700;
  text-decoration: underline;
}
.nav .menu-button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 33px;
  cursor: pointer;
}
.nav .menu-button .line {
  width: 43px;
  height: 3px;
  background-color: #fff;
  transition: transform 0.3s ease;
}
.nav .menu-button.open .line:nth-child(1) {
  transform: rotate(30deg) translate(0, 9px);
}
.nav .menu-button.open .line:nth-child(2) {
  transform: rotate(-30deg) translate(0, -10px);
}
.nav .menu-button.open .line:last-child {
  display: none;
}
.nav .menu-button.open ~ .menu {
  display: flex;
}
.nav .menu {
  display: none;
  flex-direction: column;
  align-items: stretch;
  width: 451px;
  height: 500px;
  position: absolute;
  left: 0;
  top: 0;
  background: #A6C9FF;
  z-index: 2;
  -webkit-animation: opacity 0.1s ease-in;
  -moz-animation: opacity 0.1s ease-in;
  -o-animation: opacity 0.1s ease-in;
  animation: opacity 0.1s ease-in;
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.nav .menu .menu-item {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.nav .menu .menu-item .link {
  flex-grow: 1;
  padding-left: 65px;
}
.nav .menu .pop-up-button {
  margin: 0 auto;
}

@media (max-width: 1170px) {
  .nav {
    padding-left: calc(30px + 125 * (100vw - 375px) / 795);
    padding-right: calc(30px + 25 * (100vw - 375px) / 795);
  }
  .nav .nav-link {
    gap: calc(20px + 40 * (100vw - 375px) / 795);
  }
  .nav .menu {
    width: calc(290px + 161 * (100vw - 375px) / 795);
  }
}
.slider {
  display: flex;
  position: relative;
  height: 176px;
  background-color: #7029CB;
  margin-bottom: 40px;
}
.slider h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 45px;
  color: #fff;
}
.slider .pop-up-button {
  margin: 0 32px;
}
.slider .arrow-button {
  width: 100px;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.slider .arrow-button.left {
  left: 0;
}
.slider .arrow-button.left:after {
  top: 35%;
  left: 50px;
  transform: rotate(45deg);
}
.slider .arrow-button.right {
  right: 0;
}
.slider .arrow-button.right:after {
  top: 35%;
  right: 50px;
  transform: rotate(-135deg);
}
.slider .arrow-button.left::after, .slider .arrow-button.right::after {
  content: "";
  width: 52px;
  height: 52px;
  position: absolute;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
}
.slider .slide-container {
  display: flex;
  min-width: 100%;
  position: relative;
  overflow: hidden;
}
.slider .slide-container .slide {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  padding-left: 308px;
  padding-top: 52px;
  transition: transform 0.3s ease;
}
.slider .slide-container .slide.one {
  background-color: #7029CB;
}
.slider .slide-container .slide.two {
  background-color: #497957;
}
.slider .slide-container .slide.three {
  background-color: #54632d;
}
.slider .slide-container .slide .slide-content {
  display: flex;
  align-items: center;
}

@media (max-width: 1170px) {
  .slider {
    height: calc(230px + -54 * (100vw - 375px) / 795);
  }
  .slider .slide-container .slide {
    padding-left: calc(4px + 304 * (100vw - 375px) / 795);
  }
}
@media (max-width: 630px) {
  .slider .slide-container .slide {
    padding-left: 0;
  }
  .slider .slide-container .slide .slide-content {
    flex-direction: column;
    justify-content: space-evenly;
  }
  .slider .slide-container .slide .slide-content h1 {
    margin-bottom: 28px;
  }
}
.cards-container {
  margin-bottom: 45px;
}
.cards-container h2 {
  margin-bottom: 40px;
}
.cards-container .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  counter-reset: number;
}
.cards-container .cards .card {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 198px;
  font-weight: 400;
  font-size: 53px;
  line-height: 62px;
  color: #fff;
  background-color: #3ADE4B;
}
.cards-container .cards .card:nth-child(1) {
  flex-grow: 1;
}
.cards-container .cards .card:nth-child(2) {
  flex-basis: 70%;
}
.cards-container .cards .card:nth-child(3) {
  flex-basis: 85%;
}
.cards-container .cards .card:nth-child(4) {
  flex-grow: 1;
}
.cards-container .cards .card::before {
  content: counter(number);
  counter-increment: number;
}

.tiles-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.tiles-container h2 {
  margin-bottom: 40px;
}
.tiles-container .tiles {
  display: flex;
  width: 95.7264957265%;
  border-radius: 30px;
  background: #D4FF5A;
  padding: 25px;
  gap: 20px;
}
.tiles-container .tiles .tile {
  position: relative;
  width: 25%;
  background: #497957;
  border: 2px solid #00FF4A;
  border-radius: 20%;
}
.tiles-container .tiles .tile:after {
  content: "";
  display: block;
  padding-top: 100%;
}
.tiles-container .tiles .tile:hover {
  box-shadow: 2px 5px 10px #497957;
}
.tiles-container .tiles .tile .content {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}
.offer span {
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
  color: #F3F3F3;
  margin-bottom: 9px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  background-color: #D87FF6;
}
.footer .link {
  flex-basis: 19%;
  font-weight: 700;
  color: transparent;
  position: relative;
}
.footer .link:after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  right: 0;
  color: white;
  font-weight: 500;
  text-align: center;
}
.footer .link:hover::after {
  font-weight: 700;
  text-decoration: underline;
}